# Copyright 2024 s3rj1k
# SPDX-License-Identifier: Apache-2.0

# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# distribution / packaging
build/
*.egg-info/
*.egg

# environments
.env
.venv

# mypy
.mypy_cache/

# PyCharm
.idea/

# git
.git/
.gitignore

# archives
*.tar
*.tar.*

# docker related
Dockerfile
*.Dockerfile
Dockerfile.*
*.Dockerfile.*
docker-compose.yml
*.docker-compose.yml
